<br><br>
<h1 style="text-align:center;">Welcome</h1><br>
<p>     พลเยอร์อันโนนส์แบตเทิลกราวดส์ (อังกฤษ: PlayerUnknown's Battlegrounds) มักย่อว่า พับจี หรือ พียูบีจี (PUBG)เป็นเกมออนไลน์ผู้เล่นหลายคน แนวแบตเทิลรอยัล ต่อสู้เพื่อเอาตัวรอด พัฒนาโดย
    PUBG Corporation ซึ่งเป็นบริษัทในเครือ Bluehole วางจำหน่ายเมื่อเดือนมีนาคม 2017 ในเวอร์ชันวินโดว์แต่ยังอยู่ในช่วงพัฒนาและเปิดตัวอย่างเต็มรูปแบบเมื่อวันที่ 20 ธันวาคม 2017
    และในเดือนเดียวกันทางไมโครซอฟท์สตูดิโอส์ก็ได้ปล่อยออกมาสำหรับเครื่องเอกซ์บอกซ์วัน ต่อมาทางเทนเซ็นต์เกม ประเทศจีน</p><br>


<center><iframe width="1000px" height="500px"  src="https://www.youtube.com/embed/tXQTu4A-sMI?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><br>
<button type="button" class="btn btn-primary btn-lg " ><a href="http://syzs.qq.com/en/" style="color:white">โหลดเกมส์</a></button>
<h6>อัพเดทสินค้าใหม่<span class="label label-default">New</span></h6></center>

