<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <br><br><br><br>
<div class="container " >
    <div class="row">
<div class="col-md-12" >
    <font face="" size="80px" color="">สินค้าทั้งหมด</font><br>
<br>

                <div class="col-md-3 column productbox" style="border:2px solid thistle;" >
                    <img src="/assets/images/1.png" class="img-responsive">
                    <div class="producttitle"><B>ปืนM416</B>&nbsp;&nbsp;อ่านต่อ...</div>
                    <div class="productprice">

                        <div class="pull-right">
                            <font face="" size="" color="#32cd32"> 300฿</font>
                            <div class="btn btn-danger btn-sm" role="button">BUY</div>
                        </div>
                    </div>

                </div>

    <div class="col-md-3 column productbox" style="border:2px solid thistle;" >
        <img src="/assets/images/2.png" class="img-responsive">

        <div class="producttitle"><B>ปืนAKM</B>&nbsp;&nbsp;อ่านต่อ...</div>
        <div class="productprice">
            <div class="pull-right">
                <font face="" size="" color="#32cd32"> 300฿</font>
                <div class="btn btn-danger btn-sm" role="button">BUY</div>
            </div>
        </div>
    </div>


    <div class="col-md-3 column productbox"  style="border:2px solid thistle;" >
        <img src="/assets/images/3.png" class="img-responsive">

        <div class="producttitle"><B>ปืนKRISS Vector</B>&nbsp;&nbsp;อ่านต่อ...</div>
        <div class="productprice" >

            <div class="pull-right">
                <font face="" size="" color="#32cd32"> 300฿</font>
                <div class="btn btn-danger btn-sm" role="button">BUY</div>
            </div>
        </div>
    </div>
</div>
</div>

    <div class="row">
        <div class="col-md-12" >

            <div class="col-md-3 column productbox" style="border:2px solid thistle;" >
                <img src="/assets/images/4.png" class="img-responsive">
                <div class="producttitle"><B>ปืนSCAR-L</B>&nbsp;&nbsp;อ่านต่อ...</div>
                <div class="productprice">

                    <div class="pull-right">
                        <font face="" size="" color="#32cd32"> 300฿</font>
                        <div class="btn btn-danger btn-sm" role="button">BUY</div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 column productbox" style="border:2px solid thistle;" >
                <img src="/assets/images/5.png" class="img-responsive">

                <div class="producttitle"><B>ปืนVSS</B>&nbsp;&nbsp;อ่านต่อ...</div>
                <div class="productprice">
                    <div class="pull-right">
                        <font face="" size="" color="#32cd32"> 300฿</font>
                        <div class="btn btn-danger btn-sm" role="button">BUY</div>
                    </div>
                </div>
            </div>


            <div class="col-md-3 column productbox"  style="border:2px solid thistle;" >
                <img src="/assets/images/6.png" class="img-responsive">

                <div class="producttitle"><B>ปืนกลเบา</B>&nbsp;&nbsp;อ่านต่อ...</div>
                <div class="productprice" >

                    <div class="pull-right">
                        <font face="" size="" color="#32cd32"> 300฿</font>
                        <div class="btn btn-danger btn-sm" role="button">BUY</div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>

</div>

</body>
</html>