<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <br><br><br><br>
        <div class="container " >
            <div class="row">
                <div class="col-md-12" >
                    <font face="" size="80px" color="">โปรโมชั่น </font><br>
                    <br>

                    <div class="col-md-3 column productbox " style="border:2px solid Tomato;" >
                        <img src="/assets/images/1.png" class="img-responsive">
                        <div class="producttitle"><B>ปืนM416</B>&nbsp;&nbsp;อ่านต่อ...</div>

                        <div class="pull-left">
                            <font face="" size="4" color="orange "> ฿270.00</font><br>
                            <font face="" size="" color="gray "><s>฿300.00</s>  </font>
                            <font face="" size="" color="black "> -10%</font>
                            <div class="btn btn-danger btn-sm" role="button">BUY</div>
                        </div>
                        </div>

                    <div class="col-md-3 column productbox" style="border:2px solid Tomato;" >
                        <img src="/assets/images/2.png" class="img-responsive">

                        <div class="producttitle"><B>ปืนAKM</B>&nbsp;&nbsp;อ่านต่อ...</div>
                        <div class="productprice">

                            <div class="pull-left">
                                <font face="" size="4" color="orange "> ฿270.00</font><br>
                                <font face="" size="" color="gray "><s>฿300.00</s>  </font>
                                <font face="" size="" color="black "> -10%</font>
                                <div class="btn btn-danger btn-sm" role="button">BUY</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 column productbox"  style="border:2px solid Tomato;" >
                        <img src="/assets/images/3.png" class="img-responsive">

                        <div class="producttitle"><B>ปืนKRISS Vector</B>&nbsp;&nbsp;อ่านต่อ...</div>
                        <div class="productprice" >

                            <div class="pull-left">
                                <font face="" size="4" color="orange "> ฿270.00</font><br>
                                <font face="" size="" color="gray "><s>฿300.00</s>  </font>
                                <font face="" size="" color="black "> -10%</font>
                                <div class="btn btn-danger btn-sm" role="button">BUY</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" >
                    <div class="col-md-3 column productbox"  style="border:2px solid Tomato;" >
                        <img src="/assets/images/001.jpg" class="img-responsive">

                        <div class="producttitle"><B>กระเป๋าLevel 3</B>&nbsp;&nbsp;อ่านต่อ...</div>
                        <div class="productprice" >

                            <div class="pull-left">
                                <font face="" size="4" color="orange "> ฿679.00</font><br>
                                <font face="" size="" color="gray "><s>฿1390.00</s>  </font>
                                <font face="" size="" color="black "> -51%</font>
                                <div class="btn btn-danger btn-sm" role="button">BUY</div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
            </div>
        </div>
            <br><br>



    </body>
</html>